# Bỏ qua các thư mục chứa các gói đã cài đặt.
# Docker sẽ tự cài đặt lại chúng bên trong container.
/src/vendor/
/src/node_modules/

# Bỏ qua các file môi trường cục bộ
/src/.env

# Bỏ qua các file log và cache của Laravel
/src/storage/framework/
/src/storage/logs/
/src/bootstrap/cache/

# Bỏ qua các file hệ thống của Git
.git
.gitignore

# Bỏ qua các file của Docker Compose (không cần thiết bên trong image)
docker-compose.yml
docker-compose.dev.yml

# Bỏ qua các thư mục của IDE
.idea/
.vscode/

/src/public/storage