# Environment files
.env
.env.*
!.env.example

# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Docker
.docker

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
ai-microservice/venv/
*.egg-info/
dist/
build/ 